##05_판별분석

###1. 데이터셋 불러오기

In [ ]:
import seaborn as sns
iris = sns.load_dataset('iris')
X = iris.drop('species', axis = 1) # 'species'열을 drop하고 특성변수 X를 정의한다
y_ = iris['species'] #'species'열을 label y로 정의한다

In [ ]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
y_.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

###2. 데이터 카테고리 실수화

In [ ]:
from sklearn.preprocessing import LabelEncoder
classle = LabelEncoder()
y = classle.fit_transform(iris['species'].values) # 'species'열의 문자을 범주형으로 전환하기

###3. 데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 123, stratify = y)

###(생략) 4. 입력 데이터 표준화

###5. 모델 추정: LDA

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
cld = LinearDiscriminantAnalysis(store_covariance = True)
#cld = LinearDiscriminantAnalysis(n_components = 2, store_covariance = True)

cld.fit(X_train, y_train)
y_train_pred = cld.predict(X_train)
y_test_pred = cld.predict(X_test)

###6. 결과 분석

In [ ]:
#정확도 계산
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train, y_train_pred))
print(accuracy_score(y_test, y_test_pred))

#분류 결과: 혼합행렬 -> 오분류표 작성
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_test_pred)) #각 행은 setosa, versicolor, virginica

0.9777777777777777
0.9833333333333333
[[20  0  0]
 [ 0 19  1]
 [ 0  0 20]]

###5. 모델 추정: QDA

In [ ]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
cqd = QuadraticDiscriminantAnalysis(store_covariance = True)

cqd.fit(X_train, y_train)
y_train_pred = cqd.predict(X_train)
y_test_pred = cqd.predict(X_test)

###6. 결과 분석

In [ ]:
#정확도 계산
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train, y_train_pred))
print(accuracy_score(y_test, y_test_pred))

#분류 결과: 혼합행렬 -> 오분류표 작성
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_test_pred)) #각 행은 setosa, versicolor, virginica

0.9777777777777777
0.9833333333333333
[[20  0  0]
 [ 0 19  1]
 [ 0  0 20]]